<div ng-controller="ProduitsCtrl">
    <div class="col-sm-4 col-md-3">

        <!-- Side menu recherche par criteres-->
        <div class="list-group">

            <span class="list-group-item active">
                <b>Trier les produits</b>
                <span class="pull-right" id="slide-submenu">
                    <i class="fa fa-times"></i>
                </span>
            </span>
            <a ng-click="getProduitsParPrixCroissant()" class="list-group-item">
                <i class="fa fa-comment-o"></i> Par prix croissant
            </a>
            <a ng-click="getProduitsParPrixDecroissant()" class="list-group-item">
                <i class="fa fa-search"></i> Par prix décroissant
            </a>
            <a class="list-group-item">
                <i class="fa fa-user"></i> Par thème<span class="badge">5</span>
            </a>
            <a class="list-group-item">
                <i class="fa fa-folder-open-o"></i> Par couleur <span class="badge">14</span>
            </a>
            <a class="list-group-item">
                <i class="fa fa-bar-chart-o"></i> Par nom
                <form role="search">
                    <input type="text" placeholder="Rechercher...">
                    <button type="submit"><i  class="glyphicon glyphicon-search" aria-hidden="false"></i></button>
                </form>
            </a>
        </div>
    </div>

    <!-- Products grid-->
    <div class="row list-group">
        <div ng-repeat="prod in resultProduits" class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{prod}}</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <ngcart-addtocart id="{{prod}}" name="" price="5000" data="item">Ajouter</ngcart-addtocart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
