<html ng-app="ui.bootstrap.demo">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
        <script src="js/menu_feuilleter_milieu.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
    </head>

    <body>
        <div ng-controller="CarouselDemoCtrl">
            <div style="height: 305px">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
                </div>
                <div class="col-md-6">
                    Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
                    <br />Enter a negative number or 0 to stop the interval.
                </div>
            </div>
        </div>
    </body>
</html>
