#hcorner-right{
    display: inline-block;
    width: 880px;
    background-image: url(../img/BanniereTEST.jpg);
    height: 119px;
    z-index: 1;
    
}
#header{
    width: 880px;
    height: 119px;
    opacity: 1;
    z-index: -1;
    margin: 0 auto; /*stretch banner*/
}
.header:hover { 
    background-position: left bottom; 
}
#sous_banniere{
    margin-left: 100 px;
}
#body {
background-image: url(../img/LEGO.gif);
margin-left: 50px;
margin-right: 100 px;
}
#Banniere-lateral{
    
}
#container5
{
     width: 80px;
    height: 200px;
        margin: 0 auto;
    background: linear-gradient(0, white, white );

    
}